<?xml version="1.0" encoding="UTF-8"?>
<server description="openliberty-server">

    <featureManager>
        <feature>jaxrs-2.0</feature>
        <feature>cdi-1.2</feature>
        <feature>mpConfig-1.2</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
        httpPort="9000"
        httpsPort="9010"/>

    <application location="${app.artifact}" name="/" />

    <httpSession cookieName="liberty-cookie"/>

    <logging consoleLogLevel="INFO" />

</server>
